body{
background-color: goldenrod;
}

.heading{
   display: flex;
   justify-content: space-between;
    /* color: black; */
    text-align: center;
    font-family: cursive;
    background-color:cyan;

}
a:link{
    color: skyblue;
    
}
a:visited{
    color: darkcyan;
    
}
a:hover{
    color: green;
    
}


.logo{
    width:150px;
}
    
.align-divs {
   display: flex;
   justify-content: space-between;
   padding: 2rem 1rem;
}

.align-divs > div {
   width: 100%;
   margin: 0 10px;
}

 .about{
        font-size: 20px;
        font-weight: 400;
        padding: 20px;
        color: black;
        border-radius: 2px;
        text-align: center;
        background-color: gray;
        margin-bottom: 3rem;
      /*  background-image: url(/IP1_Photography/Images/deer.jpg);*/
    }
     


